h3 {
    font-size: 1.5rem !important;
}
/* ----- RECENT PROJECT GALLERIES ----- */
.galleryName {
    width: 25%;
    float: left;
    margin-top: 10%;
    text-align: center;
}

.galleryItem {
    width: 70%;
    float: left;
    margin-left: 25px;
}

/* Next and Prev Buttons */
.arrowLeft, .arrowRight{
    color: darkgray;
}

.arrowLeft:hover, .arrowRight:hover{
    color: darkslateblue;
}

/* ----- END OF PROJECT GALLERIES ----- */

/* ----- GRID LAYOUT FOR INTERIOR, PHOTOGRAPHY, and ABOUT ----- */
.grid-container {
    display: grid;
    /* grid-template-columns: 32% 32% 32%;  */
    /* grid-template-rows: 300px 175px; */
    /* grid-column-gap: 10px; */
    /* grid-row-gap: 20px; */
    grid-gap: 10px; /*for row and column*/
}
  
.interiorSection {
    grid-template-columns: 32% 32% 32%; 
    margin-left: 2%;
    margin-right: auto;
}

.photographySection{
    grid-template-columns: 35% 35%; 
    margin-left: 20%;
    margin-right: auto;
}

.aboutSection{
    grid-template-columns: 60% 35%;
    margin-left: 4%;
}

.grid-item {
    border: 1px solid #222;
    text-align: center;
}

img {
    width: 100%;
}

/* interior design */
.interiorDesign {
    margin-top: 15px;
    clear: both;
}

/* photography */
.photography {
    margin-top: 15px;
}

/* about us */
.aboutUs {
    display: flex;
    align-items: center;
}
/* ----- END OF GRID LAYOUT ----- */

/*----- ABOUT US -----*/
.whoWeAre, .whatWeDo {
    margin-bottom: 10px;
}
/*----- END OF ABOUT US-----*/

/* START RESPONSIVE STYLES */
/* DESKTOP */
@media all and (min-width:1400px) {
    .content {
        overflow: auto;
        margin: auto;
    }

}
 
/* TABLET */
@media all and (min-width:731px) and (max-width:1399px) {
    .galleryName {
        width: 35%;
        float: left;
    }
    
    .galleryItem {
        width: 55%;
    }

    .arrowRight {
        margin-right: 50px;
    }

    .arrowRight, .arrowLeft {
        margin-top: 45px;
    }

    .interiorSection {
        grid-template-columns: 32% 32% 32%; 
        margin-left: 2%;
        margin-right: auto;
    
    }
    
    .photographySection {
        grid-template-columns: 35% 35%; 
        margin-left: 20%;
        margin-right: auto;
    }

    .aboutSection {
        grid-template-columns: 50% 40%;
        margin-left: 4%;
    }

    .aboutUs {
        margin-top: 0;
    }
}
 
 
/* CELL PHONE */
@media all  and (max-width:730px) {
    .galleryName {
        width: 100%;
        margin-top: 5px;
    }
    
    .galleryItem {
        margin-left: 0%;
        width: 100%;
    }

    .arrowRight, .arrowLeft {
        margin-top: 45px;
    }

    .fa-3x {
        font-size: 2rem;
    }

    .interiorSection {
        grid-template-columns: 100%; 
        margin-left: 0%;
        margin-right: auto;
    
    }
    
    .photographySection{
        grid-template-columns: 100%; 
        margin-left: 0%;
    }

    .aboutSection {
        grid-template-columns: 100%;
        margin-left: 0%;
    }

    .aboutUs {
        margin-top: 0;
        margin-left: 0%;
    }
}