html {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif !important;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Wrapper of Body*/
.content {
	overflow: auto;
    max-width: 1400px;
    margin: 5px;
}

main {
    margin: 5px;
}

#logo {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
}

/* ----- RECENT PROJECT GALLERIES ----- */
.projectGallery {
    /* background-color: antiquewhite; */
}

.galleryName {
    width: 25%;
    float: left;
    margin-right: 15px;
    text-align: center;
    margin-top: 8%;
}

.galleryItem {
    width: 70%;
    float: left;
    margin-left: 25px;
}
/* ----- END OF PROJECT GALLERIES ----- */

/* ----- GRID LAYOUT FOR INTERIOR, PHOTOGRAPHY, and ABOUT ----- */
.grid-container {
    display: grid;
    /* grid-template-columns: 32% 32% 32%;  */
    /* grid-template-rows: 300px 175px; */
    /* grid-column-gap: 10px; */
    /* grid-row-gap: 20px; */
    grid-gap: 10px; /*for row and column*/
}
  
.interiorSection {
    grid-template-columns: 32% 32% 32%; 
    margin-left: 2%;
    margin-right: auto;

}

.photographySection{
    grid-template-columns: 35% 35%; 
    margin-left: 20%;
    margin-right: auto;
}

.aboutSection{
    grid-template-columns: 60% 35%;
    margin-left: 4%;
}

.grid-item {
    border: 1px solid #222;
    text-align: center;
}

img {
    width: 100%;
}

/* interior design */
.interiorDesign {
    margin-top: 10px;
    clear: both;
}

/* photography */
.photography {
    margin-top: 10px;
}

/* about us */
.aboutUs {
    margin-top: 35%;
    margin-left: 20px;
}
/* ----- END OF GRID LAYOUT ----- */

/*----- ABOUT UST -----*/
.whoWeAre, .whatWeDo {
    margin-bottom: 10px;
}
/*----- END OF ABOUT US-----*/

/*----- FOOTER -----*/
footer {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer a{
    color: cornflowerblue;
    text-decoration: none;
}

footer a:hover{
    color: #009fff;
}

.information, .socialNetwork{
    margin-bottom: 10px;
}
.information a{
    margin-right: 1%;
}

.socialNetwork a{
    margin-right: 2%;
}
/*----- END OF FOOTER -----*/

/* ----- CONTACT ME ----- */
.contactMe {
    text-align: center;
    padding: 1em;
}

.contactMe a {
    color: #40424a;
    text-decoration: none;
    font-size: 1.2em;
    border: 2px solid;
    padding: 0.3em 0.8em;
}

.contactMe a:hover {
    background-color: #ddd;
    color: #009fff;
    text-decoration: none;
}
/* ----- END OF CONTACT ME ----- */

/* START RESPONSIVE STYLES */
/* DESKTOP */
@media all and (min-width:1400px) {
    .content {
        overflow: auto;
        margin: auto;
    }

}
 
/* TABLET */
@media all and (min-width:731px) and (max-width:1399px) {
    .galleryName {
        width: 35%;
        float: left;
    }
    
    .galleryItem {
        width: 55%;
    }

    .interiorSection {
        grid-template-columns: 32% 32% 32%; 
        margin-left: 2%;
        margin-right: auto;
    
    }
    
    .photographySection {
        grid-template-columns: 35% 35%; 
        margin-left: 20%;
        margin-right: auto;
    }

    .aboutSection {
        grid-template-columns: 50% 40%;
        margin-left: 4%;
    }

    .aboutUs {
        margin-top: 0;
    }
}
 
 
/* BIGGER PHONE */
@media all  and (max-width:730px) {
    .galleryName {
        width: 100%;
        float: none;
    }
    
    .galleryItem {
        margin-left: 0%;
        width: 100%;
    }

    .interiorSection {
        grid-template-columns: 100%; 
        margin-left: 0%;
        margin-right: auto;
    
    }
    
    .photographySection{
        grid-template-columns: 100%; 
        margin-left: 0%;
    }

    .aboutSection {
        grid-template-columns: 100%;
        margin-left: 0%;
    }

    .aboutUs {
        margin-top: 0;
        margin-left: 0%;
    }
}

@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: url(/assets/Josefin_Sans/JosefinSans-Regular.ttf);
}

@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-display: fallback;
    src: url(/assets/Josefin_Sans/JosefinSans-SemiBold.ttf);
}

@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-display: fallback;
    src: url(/assets/Josefin_Sans/JosefinSans-Bold.ttf);
}