/* ----- GRID LAYOUT FOR INTERIOR, PHOTOGRAPHY, and ABOUT ----- */
.grid-container {
    display: grid;
    /* grid-template-columns: 32% 32% 32%;  */
    /* grid-template-rows: 300px 175px; */
    /* grid-column-gap: 10px; */
    /* grid-row-gap: 20px; */
    grid-gap: 10px; /*for row and column*/
}
  
.photographySection {
    grid-template-columns: 32% 32% 32%; 
    margin-left: 2%;
    margin-right: auto;

}

.grid-item {
    border: 1px solid #222;
    text-align: center;
}
img {
    width: 100%;
}
/* ----- END OF GRID LAYOUT ----- */

/* START RESPONSIVE STYLES */
/* DESKTOP */
@media all and (min-width:1400px) {
    .content {
        overflow: auto;
        margin: auto;
    }

}
 
/* TABLET */
@media all and (min-width:731px) and (max-width:1399px) {
   
}
 
/* BIGGER PHONE */
@media all  and (max-width:730px) {
   
}