html {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif !important;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Wrapper of Body*/
.content {
	overflow: auto;
    max-width: 1400px;
    margin: 5px;
}

main {
    margin: 5px;
}

#logo {
    /* float: left; */
    /* margin-right: 100px; */
    text-align: center;
}

#cssmenu {
    /* float: left; */
}

/* ----- GRID LAYOUT FOR INTERIOR, PHOTOGRAPHY, and ABOUT ----- */
.grid-container {
    display: grid;
    /* grid-template-columns: 32% 32% 32%;  */
    /* grid-template-rows: 300px 175px; */
    /* grid-column-gap: 10px; */
    /* grid-row-gap: 20px; */
    grid-gap: 10px; /*for row and column*/
}
  
.photographySection {
    grid-template-columns: 32% 32% 32%; 
    margin-left: 2%;
    margin-right: auto;

}

.grid-item {
    border: 1px solid #222;
    text-align: center;
}
h2 {
    margin: 10px 0;
    font-family: sans-serif;
    font-size: 14px;
}

img {
    width: 100%;
}
/* ----- END OF GRID LAYOUT ----- */

/*----- FOOTER -----*/
footer {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer a{
    color: cornflowerblue;
    text-decoration: none;
}

footer a:hover{
    color: #009fff;
}

.information, .socialNetwork{
    margin-bottom: 10px;
}
.information a{
    margin-right: 1%;
}

.socialNetwork a{
    margin-right: 2%;
}
/*----- END OF FOOTER -----*/

/* START RESPONSIVE STYLES */
/* DESKTOP */
@media all and (min-width:1400px) {
    .content {
        overflow: auto;
        margin: auto;
    }

}
 
/* TABLET */
@media all and (min-width:731px) and (max-width:1399px) {
    .galleryName {
        width: 35%;
        float: left;
    }
    
    .galleryItem {
        width: 55%;
    }
    
    .photographySection{
        grid-template-columns: 32% 32% 32%; 
        margin-left: .5%;
    }
}
 
/* BIGGER PHONE */
@media all  and (max-width:730px) {
    .galleryName {
        width: 100%;
        float: none;
    }
    
    .galleryItem {
        margin-left: 0%;
        width: 100%;
    }

    
    .photographySection{
        grid-template-columns: 100%; 
        margin-left: 0%;
    }
}

/* latin */
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: url(/assets/Josefin_Sans/JosefinSans-Regular.ttf);
}

/* latin */
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-display: fallback;
    src: url(/assets/Josefin_Sans/JosefinSans-SemiBold.ttf);
}

/* latin */
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-display: fallback;
    src: url(/assets/Josefin_Sans/JosefinSans-Bold.ttf);
}